LAB1/waves.shm/*
LAB1/xcelium.d/*
LAB1/.simvision/*

LAB2/waves.shm/*
LAB2/xcelium.d/*
LAB2/.simvision/*

LAB3/waves.shm/*
LAB3/xcelium.d/*
LAB3/.simvision/*

LAB4/waves.shm/*
LAB4/xcelium.d/*
LAB4/.simvision/*